.ellipsis-multiline-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis-multiline-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.jc-start {
    justify-content: flex-start;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.pointer {
    cursor: pointer !important;
}

html,
body {
    cursor: default;
    scroll-behavior: smooth;
}

.plyr__video-wrapper,
.plyr video {
    pointer-events: auto !important;
}

@font-face {
    font-family: 'Raleway-Heavy';
    /* 给你的字体取一个名字 */
    src: url('../assets/font/raleway.heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Heavy';
    /* 给你的字体取一个名字 */
    src: url('../assets/font/raleway.heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    /* 给你的字体取一个名字 */
    src: url('../assets/font/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    /* 给你的字体取一个名字 */
    src: url('../assets/font/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}